<div id="page_wrapper">
  <div id="profile_img">
    <%= image_tag "blog1.jpg"%>
  </div>
  <div id="content">
    <h1>Hi,I'm Lakshit Dosi</h1>
    <p>Welcome to my blogs.In the past 3 days I built a blog in Rails.
      If you love my blogs please follow me so that you will be notified
       whenever I post a new one.</p>
  </div>
</div>
