<% @posts.each do |post| %>
  <div class="post_wrapper">
    <h2 class="title"><%= link_to post.title,post %></h2>
    <p>created by <%= post.user.try(:email) %></p>
    <p class="date"><%= post.created_at.strftime("%b,%d,%Y") %></p>
  </div>
<% end %>
<%= will_paginate @posts %>
